@tailwind base;
@tailwind components;

.title-bg {
  position: relative;
  z-index: 2;
}

.title-bg::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 23%;
  width: 100%;
  height: 18px;
  background-color: #d1def7;
  z-index: -1;
}
.footer-title-bg {
  position: relative;
  z-index: 2;
}

.footer-title-bg::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 23%;
  width: 100%;
  height: 18px;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.ver-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  position: relative;
}

.ver-line::before {
  content: "";
  border-radius: 99px;
  height: 80%;
  width: 12px;
  background: linear-gradient(99deg, #5f90f0 5.67%, #185ad9 98.08%);
}

.linear-gradient {
  background: linear-gradient(99deg, #5f90f0 5.67%, #185ad9 98.08%);
}

.service-card-shadow {
  box-shadow: -12px 24px 56px 0px rgba(4, 45, 21, 0.08);
}

.contact-overlay-shadow {
  box-shadow: -30px 30px 80px 0px rgba(19, 55, 124, 0.04);
}

.right-shadow {
  box-shadow: 10px 10px 80px 0px rgba(35, 10, 136, 0.08);
}

.footer-title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px; /* 30px */
}

.footer-title::after {
  content: "";
  height: 2px;
  width: 37px;
  background: #185ad9;
}

.tab {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px; /* 30px */
}

.active-tab {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px; /* 30px */
  color: #5f90f0;
}

.active-tab::after {
  content: "";
  height: 2px;
  width: 100%;
  background: #5f90f0;
}

@layer utilities {
  .lg-max-width {
    max-width: 1440px;
  }
  .md-max-width {
    max-width: 768px;
  }
}

@layer components {
  .container {
    @apply px-[24px] tablet:px-[50px] desktop:px-[150px];
  }

  .container-wrapper {
    @apply w-full tablet:md-max-width desktop:lg-max-width mx-auto;
  }

  .section-container,
  .footer-container,
  .nav-container {
    @apply mx-[24px] tablet:mx-[50px] desktop:mx-[150px];
  }

  .contact-us-container {
    @apply mx-[24px] tablet:ml-[50px] tablet:mx-[50px] desktop:ml-[150px] desktop:mr-0;
  }

  .container {
    @apply desktop:py-[80px];
  }

  .btn-primary {
    @apply py-3 px-6 text-xs font-medium leading-5 rounded-full text-white hover:bg-gradient-to-l bg-gradient-to-r from-[#5F90F0] to-[#185AD9];
  }
  .btn-secondary {
    @apply py-[12px] px-[24px] border border-[#5F90F0] text-[9px] tablet:text-[14px] font-medium leading-[22.4px] rounded-full text-[#5F90F0];
  }
  .section-bg {
    @apply bg-gradient-to-r from-[#5f90f00a] via-[#185ad90a] to-[#185ad90a];
  }

  /* banner classes */
  .overlay-bg {
    @apply bg-white rounded-[12px] p-[16px] flex items-center justify-between gap-[8px];
  }
  .overlay-title {
    @apply font-bold text-[16px] leading-[24px];
  }

  .overlay-subtitle {
    @apply text-[14px] leading-[22.4px] font-medium text-[#64656D];
  }

  /* about section classes */
  .about-statics-frame {
    @apply flex justify-between items-center flex-col;
  }
  .about-statics-tittle {
    @apply text-[16px] font-normal leading-[25.6px] text-[#ffffffcc];
  }

  .about-statics-number {
    @apply font-bold text-[24px] leading-[33.6px];
  }

  /* footer classes */
  .footer-link {
    @apply text-[16px] font-normal leading-[25.6px] text-[#808088];
  }
}

@tailwind utilities;
